.form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-container .main-wrapper {
  padding-block-end: 0;
}

.header-main {
  margin-block-end: 1.5rem;
  font-size: var(--H-M-FONT-SIZE);
  font-weight: 700;
}

.detail-input-container {
  display: flex;
  flex-direction: column;
}

.flexible-row {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.business-input-fields,
.city-and-post-code,
.invoice-payment-info {
  display: flex;

  gap: 1.5rem;
}

.business-input-fields,
.invoice-payment-info {
  flex-direction: column;
}

.business-input-fields {
  margin-top: 1.5rem;
}

.city-and-post-code {
  width: 100%;
}

.city-and-post-code input {
  width: 100%;
  min-width: 0;
}

.city-and-post-code > * {
  flex: 1;
  min-width: 0;
}

.edit-header {
  color: var(--ACCENT-CLR);
  font-size: var(--H-S-FONT-SIZE);
  letter-spacing: -0.25px;
  font-weight: 700;
}

.detail-input-container label {
  color: var(--SECONDARY-TXT-CLR);
  font-size: var(--BODY-TXT-SIZE);
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 15px;
  margin-block-end: 0.5rem;
}

input {
  font-size: var(--H-S-FONT-SIZE);
  font-weight: 700;
  padding: 1rem 1.25rem;
  border: 1px solid var(--BG-LIGHT);
  border-radius: 0.25rem;
  background-color: transparent;
}

.client-details,
.invoice-payment-info {
  margin-block-start: 2.6rem;
}

.edit-item-list-container {
  margin-block-start: 4rem;
}

.item-list-header {
  color: var(--PALE-HEADER-CLR);
  font-size: var(--H-MS-FONT-SIZE);
  font-weight: 700;
  letter-spacing: -0.38px;
  line-height: 32px;
  margin-block-end: 1.5rem;
}
.invoice-item-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.item-flex {
  margin-block-start: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 2rem;
  align-items: center;
}

.item-set-container {
  display: grid;
  grid-template-columns: 4.5rem auto auto;
  gap: 1rem;
}

.item-set-container > * {
  min-width: 0;
}

#items-total {
  border-color: transparent;
}

.item-cards-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#add-new-item-btn {
  width: 100%;
  margin-block-start: 3rem;
}

.add-btn-icon {
  display: flex;
  font-size: 15px;
  line-height: 15px;
}

#delete-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--TERTIARY-TXT-CLR);
}

.footer {
  height: 155px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  background: linear-gradient(#00000000, rgba(0, 0, 0, 0.48));
}

.edit-footer {
  position: relative;
}

.edit-action-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 21px 24px;
  gap: 0.5rem;
  background-color: white;
  width: 100%;
  box-shadow: var(--CARD-BOX-SHADOW);
}

@media (min-width: 768px) {
  .flexible-row {
    flex-direction: row;
  }

  .flexible-row > * {
    flex: 1;
  }
  .city-and-post-code {
    display: contents;
  }

  .invoice-issuance-pay-flex > * {
    flex: 1;
  }

  .edit-page .go-back-btn {
    display: none;
  }

  .item-flex {
    display: contents;
  }

  .item-card-input-fields {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 5rem auto auto auto;
    align-items: center;
  }

  .item-set-container {
    display: contents;
  }

  @media (min-width: 768px) {
    .edit-footer {
      /* background: transparent; */
    }

    .form-container .main-wrapper,
    .edit-action-buttons {
      padding: 3.8rem 56px 2rem;
    }

    .form-container {
      padding-block-end: 10rem;
    }
    .edit-action-buttons {
      padding-block-start: 2rem;
      background-color: white;
    }

    .footer {
      position: fixed;
      /* height: fit-content; */
      /* background-color: yellow; */
    }
  }
}
