/* Style Library */
/* COLORS    */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  font-family: "League Spartan", sans-serif;
  --ACCENT-CLR: #7c5dfa;
  --ACCENT-BG-II: #373b53;

  --HEADER-BORDER-CLR: #494e6e;

  --BG-LIGHT: #dfe3fa;

  --PRIMARY-TXT-CLR: #0c0e16;
  --SECONDARY-TXT-CLR: #7e88c3;
  --TERTIARY-TXT-CLR: #888eb0;

  --BG-DARK: #1e2139;
  --DELETE-BTN-BG: #ec5757;

  --H-L-FONT-SIZE: 36px;
  --H-M-FONT-SIZE: 24px;
  --H-S-FONT-SIZE: 15px;
}
