.status {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 14px 19px;
  border-radius: var(--radius-badge);
  font-weight: 700;
  min-width: 104px;
}

.status::before {
  display: inline-block;
  margin-inline-end: 0.5rem;
  border-radius: 50%;
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
}

.status--paid {
  background-color: var(--paid-bg);
  color: var(--paid-clr);
}
.status--paid::before {
  background-color: var(--paid-clr);
}

.status--pending {
  background-color: var(--pending-bg);
  color: var(--pending-clr);
}
.status--pending::before {
  background-color: var(--pending-clr);
}

.status--draft {
  background-color: var(--draft-bg);
  color: var(--draft-clr);
}
.status--draft::before {
  background-color: var(--draft-clr);
}

.status--overdue {
  background-color: var(--overdue-bg);
  color: var(--overdue-clr);
}
.status--overdue::before {
  background-color: var(--overdue-clr);
}
